

  <footer class="text-center text-lg-start bg-whit text-muted" style="background-color: rgba(45, 106, 181, 0.364);">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa-solid fa-file"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5" style="background-color: rgba(45, 106, 181, 0.195);">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Shoppingbek
            </h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum rerum obcaecati distinctio. Totam, quis numquam magni placeat atque delectus commodi explicabo itaque voluptas porro facere nisi, maxime minima reiciendis!</p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Smartphones</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Computers</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laptops</a>
            </p>
            <p>
              <a href="#!" class="text-reset">TVs</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Osh, Kyrgyzstan</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              madykanov@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +996 709 66 53 53</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +996 779 00 90 75</p>
          </div>
        </div>
      </div>
    </section>
    
  </footer>