<!DOCTYPE html>
{% load static %}
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
  .register {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: rgb(66, 65, 65);
    font-size: 16px
  }

  .register a {
    text-decoration: none;
    color: rgb(9, 56, 225);
    margin-left: 5px;
    font-size: 18px;
  }
</style>

<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <div class="user-details">

          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" name="email" placeholder="Enter your email" required>
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" name="password2" placeholder="Confirm your password" required>
          </div> -->
        </div>
        {% csrf_token %}
        {% if messages %}
            {% for i in messages %}
                <p>{{ i }}</p>
            {% endfor %}
        {% endif %}

        <div class="button">
          <input type="submit" value="Login">
          <p class="register">Not a user<a href="{% url 'to_log' %}"> Register</a></p>

        </div>
      </form>
    </div>
  </div>

</body>

</html>

